%h2 Add a Num
- form_for(:num, :action => url(:action => "new")) do
%table
  %tr
    %th Value
    %td= text_control(:value)
  %tr
    %th Relevant At
    %td= text_control(:relevant_at)
  %tr
    %th Link
    %td= text_control(:link)
  %tr
    %td/
    %td= submit_field
- end
